* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.bi-list {
  display:none;
}

/*--------------------------------------------------------------
# Sections (공통) - 각 페이지별 메인제목 및 부제목설명
--------------------------------------------------------------*/
section {
  padding: 25px 0;
  overflow: hidden;
}

.section-header {
  text-align: left;
  margin-top: 120px;
  padding-bottom: 10px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 10px 0 30px 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  /* margin-top: 30px 0 0 0; */
  padding: 30px 0px 15px 0px;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
  border-bottom: solid 1px #7F7F7F;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}


/****************** 메모 ******************/

/* 배경색 흰색으로 설정 */
.bg-body-secondary {
  --bs-bg-opacity: 0;
}




.allMemo {
  display: flex;
}


.stickyMemo {
  margin: 20px 20px 20px 20px;
  flex-basis: 25%;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  
}